.container {
  width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 240px 1680px;
  grid-template-rows: 64px;
  grid-auto-rows: auto;
  grid-template-areas:
    'menu header'
    'menu main';
}

.header {
  grid-area: header;
  width: 1680px;
  height: 64px;
  background-color: $background-header;
}

.navigation {
  grid-area: menu;
  width: 240px;
  height: 963px;
  background-color: $background-menu;
}

.main {
  grid-area: main;
  background-color: $background-body;
}
